@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .con {
    @apply container mx-auto px-4 md:px-6 lg:px-8;
  }

  .btn-primary {
    @apply text-white capitalize text-xl font-bold bg-[#0E7A81] px-8 py-4 rounded-xl;
  }

  .categories__btn {
    @apply flex text-2xl font-bold gap-4 items-center py-6 px-12 border-2 border-blue-200 rounded-xl justify-center transition-all;

    img {
      @apply h-14;
    }

    &.active {
      @apply rounded-full bg-blue-200 border-blue-400;
    }
  }

  .social-links {
    @apply flex items-center gap-4;

    img {
      @apply h-8;
    }
  }

  .pet-card {
    @apply border-2 border-gray-200 rounded-lg overflow-hidden p-4;
  }

  .pet-banner {
    @apply rounded-lg overflow-hidden;
  }

  .pet-details-list {
    @apply text-slate-600 flex flex-col gap-2 mt-4;

    li {
      @apply flex items-center gap-2;

      img {
        @apply w-5 aspect-square;
      }
    }
  }

  .pet-btn-groups {
    @apply flex justify-between mt-4;

    .pet-btn {
      @apply text-lg font-bold text-teal-800 border-2 border-cyan-100 hover:border-cyan-900 py-2 px-4 rounded-md hover:bg-teal-800 hover:text-white transition-all select-none;

      &.thumb {
        @apply hover:bg-transparent;
      }

      &.adopted {
        @apply bg-gray-400 text-gray-200 border-none pointer-events-none cursor-not-allowed select-none;
      }
    }
  }

  .pet-details-tags {
    @apply text-gray-600 grid md:grid-cols-2 gap-2;

    li {
      @apply flex items-center gap-2;

      img {
        @apply w-5 aspect-square;
      }
    }
  }

  .countdown {
    @apply p-8 bg-white rounded-lg flex flex-col items-center gap-2;

    h1 {
      @apply text-4xl font-black;
    }

    p {
      @apply text-gray-600;
    }

    .countdown__counter {
      @apply text-6xl font-black text-gray-950;
    }

    img {
      @apply w-12;
    }
  }

  .loader {
    width: 60px;
    aspect-ratio: 2;
    --g1: no-repeat radial-gradient(circle closest-side, #f72121 90%, #ed888800);
    --g2: no-repeat radial-gradient(circle closest-side, #ff9d2d 90%, #ed888800);
    --g3: no-repeat radial-gradient(circle closest-side, #0e7a81 90%, #ed888800);
    background: var(--g1) 0% 50%, var(--g2) 50% 50%, var(--g3) 100% 50%;
    background-size: calc(100% / 4) 50%;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}
